<ng-container *ngIf="verse.grps">
  <ng-container *ngFor="let grp of verse.grps">
    <ng-container [ngSwitch]="grp.name ? grp.name.toLowerCase() : ''">
      <a
        format-group
        class="{{ grp.attrs ? grp.attrs['class'] : '' }}"
        (click)="this.linkService.runLink(grp)"
        [ngClass]="{
          'valid-href':
            grp.attrs &&
            grp.attrs['href'] &&
            !grp.attrs['href'].includes('#note')
        }"
        [formatGroup]="grp"
        *ngSwitchCase="'a'"
      ></a>
      <ul
        format-group
        *ngSwitchCase="'ul'"
        class="{{ grp.attrs ? grp.attrs['class'] : '' }}"
        [formatGroup]="grp"
      ></ul>
      <li
        format-group
        *ngSwitchCase="'li'"
        [attr.data-marker]="grp.attrs ? grp.attrs['data-marker'] : ''"
        class="{{ grp.attrs ? grp.attrs['class'] : '' }} "
        [formatGroup]="grp"
      ></li>
      <ruby
        format-group
        *ngSwitchCase="'ruby'"
        [attr.data-marker]="grp.attrs ? grp.attrs['data-marker'] : ''"
        class="{{ grp.attrs ? grp.attrs['class'] : '' }} "
        [formatGroup]="grp"
      ></ruby>
      <rt
        format-group
        *ngSwitchCase="'rt'"
        [attr.data-marker]="grp.attrs ? grp.attrs['data-marker'] : ''"
        class="{{ grp.attrs ? grp.attrs['class'] : '' }} "
        [formatGroup]="grp"
      ></rt>
      <format-group
        *ngSwitchDefault
        class="{{ grp.attrs ? grp.attrs['class'] : '' }}"
        [attr.name]="grp.name"
        [formatGroup]="grp"
        format-group
      ></format-group>
    </ng-container>
    <!-- <header
      format-group
      [formatGroup]="grp"
      class="{{ grp.attrs ? grp.attrs['class'] : '' }}"
      *ngIf="grp.name === 'HEADER' || grp.name === 'header'"
    ></header>
    <section
      format-group
      [formatGroup]="grp"
      class="{{ grp.attrs ? grp.attrs['class'] : '' }}"
      [topLevel]="true"
      *ngIf="grp.name === 'SECTION' || grp.name === 'section'"
    ></section>
    <ul
      format-group
      [formatGroup]="grp"
      class="{{ grp.attrs ? grp.attrs['class'] : '' }}"
      *ngIf="grp.name === 'UL' || grp.name === 'ul'"
    ></ul>
    <a
      format-group
      (click)="this.linkService.runLink(grp)"
      [ngClass]="{
        'valid-href':
          grp.attrs && grp.attrs['href'] && !grp.attrs['href'].includes('#note')
      }"
      class="{{ grp.attrs ? grp.attrs['class'] : '' }}"
      [formatGroup]="grp"
      *ngIf="grp.name === 'A' || grp.name === 'a'"
    ></a>
    <li
      format-group
      [formatGroup]="grp"
      class="{{ grp.attrs ? grp.attrs['class'] : '' }}"
      *ngIf="grp.name === 'LI' || grp.name === 'li'"
    ></li>
    <ruby
      format-group
      [formatGroup]="grp"
      class="{{ grp.attrs ? grp.attrs['class'] : '' }}"
      *ngIf="grp.name === 'RUBY' || grp.name === 'ruby'"
    ></ruby>
    <rb
      format-group
      [formatGroup]="grp"
      class="{{ grp.attrs ? grp.attrs['class'] : '' }}"
      *ngIf="grp.name === 'RB' || grp.name === 'rb'"
    ></rb>
    <rt
      format-group
      [formatGroup]="grp"
      class="{{ grp.attrs ? grp.attrs['class'] : '' }}"
      *ngIf="grp.name === 'RT' || grp.name === 'rt'"
    ></rt>
    <dl
      format-group
      [formatGroup]="grp"
      class="{{ grp.attrs ? grp.attrs['class'] : '' }}"
      *ngIf="grp.name === 'DL' || grp.name === 'dl'"
    ></dl>
    <h1
      format-group
      [formatGroup]="grp"
      class="{{ grp.attrs ? grp.attrs['class'] : '' }}"
      *ngIf="grp.name === 'H1' || grp.name === 'h1'"
    ></h1>
    <h2
      format-group
      [formatGroup]="grp"
      class="{{ grp.attrs ? grp.attrs['class'] : '' }}"
      *ngIf="grp.name === 'H2' || grp.name === 'h2'"
    ></h2>
    <h3
      format-group
      [formatGroup]="grp"
      class="{{ grp.attrs ? grp.attrs['class'] : '' }}"
      *ngIf="grp.name === 'H3' || grp.name === 'h3'"
    ></h3>
    <h4
      format-group
      [formatGroup]="grp"
      class="{{ grp.attrs ? grp.attrs['class'] : '' }}"
      *ngIf="grp.name === 'H4' || grp.name === 'h4'"
    ></h4>
    <p
      format-group
      [formatGroup]="grp"
      class="{{ grp.attrs ? grp.attrs['class'] : '' }}"
      *ngIf="grp.name === 'p' || grp.name === 'p'"
    ></p>
    <em
      format-group
      [formatGroup]="grp"
      class="{{ grp.attrs ? grp.attrs['class'] : '' }}"
      *ngIf="grp.name === 'em' || grp.name === 'em'"
    ></em>
    <dd
      format-group
      [formatGroup]="grp"
      class="{{ grp.attrs ? grp.attrs['class'] : '' }}"
      *ngIf="grp.name === 'DD' || grp.name === 'dd'"
    ></dd>
    <figure
      format-group
      [formatGroup]="grp"
      class="{{ grp.attrs ? grp.attrs['class'] : '' }}"
      *ngIf="grp.name === 'FIGURE' || grp.name === 'figure'"
    ></figure>
    <div
      format-group
      [formatGroup]="grp"
      class="{{ grp.attrs ? grp.attrs['class'] : '' }}"
      *ngIf="grp.name === 'DIV' || grp.name === 'div'"
    ></div>
    <ol
      format-group
      [formatGroup]="grp"
      class="{{ grp.attrs ? grp.attrs['class'] : '' }}"
      *ngIf="grp.name === 'OL' || grp.name === 'ol'"
    ></ol>
    <span
      format-group
      [formatGroup]="grp"
      class="{{ grp.attrs ? grp.attrs['class'] : '' }}"
      *ngIf="grp.name === 'SPAN' || grp.name === 'span'"
    ></span>
    <footer
      format-group
      [formatGroup]="grp"
      class="{{ grp.attrs ? grp.attrs['class'] : '' }}"
      *ngIf="grp.name === 'FOOTER' || grp.name === 'footer'"
    ></footer>
    <table
      format-group
      [attr.data-marker]="grp.attrs ? grp.attrs['data-marker'] : ''"
      class="{{ grp.attrs ? grp.attrs['class'] : '' }} "
      [formatGroup]="grp"
      *ngIf="grp.name === 'TABLE' || grp.name === 'table'"
    ></table>
    <thead
      format-group
      [attr.data-marker]="grp.attrs ? grp.attrs['data-marker'] : ''"
      class="{{ grp.attrs ? grp.attrs['class'] : '' }} "
      [formatGroup]="grp"
      *ngIf="grp.name === 'THEAD' || grp.name === 'thead'"
    ></thead>
    <tbody
      format-group
      [attr.data-marker]="grp.attrs ? grp.attrs['data-marker'] : ''"
      class="{{ grp.attrs ? grp.attrs['class'] : '' }} "
      [formatGroup]="grp"
      *ngIf="grp.name === 'TBODY' || grp.name === 'tbody'"
    ></tbody>
    <th
      format-group
      [attr.data-marker]="grp.attrs ? grp.attrs['data-marker'] : ''"
      class="{{ grp.attrs ? grp.attrs['class'] : '' }} "
      [formatGroup]="grp"
      *ngIf="grp.name === 'TH' || grp.name === 'th'"
    ></th>
    <tr
      format-group
      [attr.data-marker]="grp.attrs ? grp.attrs['data-marker'] : ''"
      class="{{ grp.attrs ? grp.attrs['class'] : '' }} "
      [formatGroup]="grp"
      *ngIf="grp.name === 'TR' || grp.name === 'tr'"
    ></tr>
    <td
      format-group
      [attr.data-marker]="grp.attrs ? grp.attrs['data-marker'] : ''"
      class="{{ grp.attrs ? grp.attrs['class'] : '' }} "
      [formatGroup]="grp"
      *ngIf="grp.name === 'TD' || grp.name === 'td'"
    ></td> -->
    <ng-container *ngIf="!grp.name && grp.grps">
      <ng-container *ngFor="let grp2 of grp.grps">
        <f-text
          [attr.offsets]="grp2.offsets"
          format-text
          [formatText]="grp2"
        ></f-text>
      </ng-container>
    </ng-container>
  </ng-container>
</ng-container>
