<oith-header
  style=" position: absolute; height: 49px; width: 100vw; background-color: #E9E9EA;"
  [ngStyle]="{ top: oithHeaderTop }"
></oith-header>
<div
  style="position: absolute;"
  [ngStyle]="{ top: contentTop }"
  style="position: fixed;"
>
  <router-outlet></router-outlet>
</div>
<!-- <back-drop
  style="position: fixed; top: 0; left:0; height:100vh; width:100vw; pointer-events: none; z-index: 1000; display: block;"
  *ngIf="
    this.backdropService.visibility ? backdropService.visibility.visible : false
  "
></back-drop> -->
