# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
scripture_files
dist
build
scripture_files
images
.cache
node_modules
oith-lib/*-af-poster-manifest.json
oith-lib/*-bd-manifest.json
oith-lib/*-bible-chron-manifest.json
oith-lib/*-bible-manifest.json
oith-lib/*-bible-maps-manifest.json
oith-lib/*-bible-photos-manifest.json
oith-lib/*-bofm-manifest.json
oith-lib/*-dc-testament-manifest.json
oith-lib/*-gs-manifest.json
oith-lib/*-harmony-manifest.json
oith-lib/*-history-maps-manifest.json
oith-lib/*-history-photos-manifest.json
oith-lib/*-jst-manifest.json
oith-lib/*-nt-manifest.json
oith-lib/*-ot-manifest.json
oith-lib/*-pgp-manifest.json
oith-lib/*-quad-manifest.json
oith-lib/*-sacrament-manifest.json
oith-lib/*-tg-manifest.json
oith-lib/*-triple-index-manifest.json
oith-lib/*-triple-manifest.json
oith-lib/.cache2/
scripture_files2/
scripture_files/**/**
*.zip
