<!-- <ng-container *ngIf="this.chapterService.chapter">
</ng-container>
<ng-container *ngIf="!this.chapterService.chapter">Loading...</ng-container> -->

<!-- [style.height]="navHeight" -->
<nav
  style="position: fixed;left: 0;"
  *ngIf="ssettings.displayNav"
  app-nav
></nav>
<div class="chapter-loader" (scroll)="this.scroll()">
  <chapter-content
    [ngClass]="{ 'classic-scriptures': !isManual, manual: isManual }"
  >
    <left-nav></left-nav>
    <!-- <chapter-loader
    chapter
    [chapter]="this.chapterService.chapter"
    ></chapter-loader> -->
    <chapter-loader chapter [chapter]="this.chapter | async"></chapter-loader>
    <!-- <ng-container *ngIf="this.chapter"> </ng-container> -->
    <right-nav></right-nav>
  </chapter-content>
  <white-space
    style="height: calc(100vh - 48px); display: block;"
  ></white-space>
</div>

<app-verse-notes
  [ngStyle]="{ width: this.notePaneWidth }"
  (scroll)="this.menuService.dismissMenu.next(null)"
></app-verse-notes>
