<ng-container *ngIf="formatGroup.grps">
  <ng-container *ngFor="let grp of formatGroup.grps">
    <ng-container *ngIf="grp.v !== undefined">
      <header
        verse
        [verse]="grp.verse"
        class="{{ grp.verse.attrs ? grp.verse.attrs['class'] : '' }} "
        [id]="grp.verse.id"
        *ngIf="grp.verse.n === 'HEADER' || grp.verse.n === 'header'"
      ></header>
      <section
        verse
        class="kjkkk"
        [verse]="grp.verse"
        class="{{ grp.verse.attrs ? grp.verse.attrs['class'] : '' }} "
        [id]="grp.verse.id"
        *ngIf="grp.verse.n === 'SECTION' || grp.verse.n === 'section'"
      ></section>
      <ul
        verse
        [verse]="grp.verse"
        class="{{ grp.verse.attrs ? grp.verse.attrs['class'] : '' }} "
        [id]="grp.verse.id"
        *ngIf="grp.verse.n === 'UL' || grp.verse.n === 'ul'"
      ></ul>
      <li
        verse
        [verse]="grp.verse"
        class="{{ grp.verse.attrs ? grp.verse.attrs['class'] : '' }} "
        [id]="grp.verse.id"
        *ngIf="grp.verse.n === 'LI' || grp.verse.n === 'li'"
      ></li>
      <dl
        verse
        [verse]="grp.verse"
        class="{{ grp.verse.attrs ? grp.verse.attrs['class'] : '' }} "
        [id]="grp.verse.id"
        *ngIf="grp.verse.n === 'DL' || grp.verse.n === 'dl'"
      ></dl>
      <h1
        verse
        [verse]="grp.verse"
        class="{{ grp.verse.attrs ? grp.verse.attrs['class'] : '' }} "
        [id]="grp.verse.id"
        *ngIf="grp.verse.n === 'H1' || grp.verse.n === 'h1'"
      ></h1>
      <h2
        verse
        [verse]="grp.verse"
        class="{{ grp.verse.attrs ? grp.verse.attrs['class'] : '' }} "
        [id]="grp.verse.id"
        *ngIf="grp.verse.n === 'H2' || grp.verse.n === 'h2'"
      ></h2>
      <h3
        verse
        [verse]="grp.verse"
        class="{{ grp.verse.attrs ? grp.verse.attrs['class'] : '' }} "
        [id]="grp.verse.id"
        *ngIf="grp.verse.n === 'H3' || grp.verse.n === 'h3'"
      ></h3>
      <h4
        verse
        [verse]="grp.verse"
        class="{{ grp.verse.attrs ? grp.verse.attrs['class'] : '' }} "
        [id]="grp.verse.id"
        *ngIf="grp.verse.n === 'H4' || grp.verse.n === 'h4'"
      ></h4>
      <p
        verse
        [verse]="grp.verse"
        class="{{ grp.verse.attrs ? grp.verse.attrs['class'] : '' }} "
        [id]="grp.verse.id"
        *ngIf="grp.verse.n === 'p' || grp.verse.n === 'p'"
      ></p>
      <em
        verse
        [verse]="grp.verse"
        class="{{ grp.verse.attrs ? grp.verse.attrs['class'] : '' }} "
        [id]="grp.verse.id"
        *ngIf="grp.verse.n === 'em' || grp.verse.n === 'em'"
      ></em>
      <dd
        verse
        [verse]="grp.verse"
        class="{{ grp.verse.attrs ? grp.verse.attrs['class'] : '' }} "
        [id]="grp.verse.id"
        *ngIf="grp.verse.n === 'DD' || grp.verse.n === 'dd'"
      ></dd>
      <figure
        verse
        [verse]="grp.verse"
        class="{{ grp.verse.attrs ? grp.verse.attrs['class'] : '' }} "
        [id]="grp.verse.id"
        *ngIf="grp.verse.n === 'FIGURE' || grp.verse.n === 'figure'"
      ></figure>
      <div
        verse
        [verse]="grp.verse"
        class="{{ grp.verse.attrs ? grp.verse.attrs['class'] : '' }} "
        [id]="grp.verse.id"
        *ngIf="grp.verse.n === 'DIV' || grp.verse.n === 'div'"
      ></div>
      <ol
        verse
        [verse]="grp.verse"
        class="{{ grp.verse.attrs ? grp.verse.attrs['class'] : '' }} "
        [id]="grp.verse.id"
        *ngIf="grp.verse.n === 'OL' || grp.verse.n === 'ol'"
      ></ol>
      <span
        verse
        [verse]="grp.verse"
        class="{{ grp.verse.attrs ? grp.verse.attrs['class'] : '' }} "
        [id]="grp.verse.id"
        *ngIf="grp.verse.n === 'SPAN' || grp.verse.n === 'span'"
      ></span>
    </ng-container>
    <ng-container *ngIf="grp.docType === 4">
      <header
        format-group
        class="{{ grp.attrs ? grp.attrs['class'] : '' }}"
        [formatGroup]="grp"
        *ngIf="grp.name === 'HEADER' || grp.name === 'header'"
      ></header>
      <div
        class="img-container "
        *ngIf="grp.name === 'IMG' || grp.name === 'img'"
      >
        <img
          format-group
          class="{{ grp.attrs ? grp.attrs['class'] : '' }}"
          [src]="grp.attrs['src']"
          [formatGroup]="grp"
        />
      </div>

      <section
        format-group
        class="{{ grp.attrs ? grp.attrs['class'] : '' }}"
        [formatGroup]="grp"
        *ngIf="grp.name === 'SECTION' || grp.name === 'section'"
      ></section>
      <ul
        format-group
        class="{{ grp.attrs ? grp.attrs['class'] : '' }}"
        [formatGroup]="grp"
        *ngIf="grp.name === 'UL' || grp.name === 'ul'"
      ></ul>
      <li
        format-group
        [attr.data-marker]="grp.attrs ? grp.attrs['data-marker'] : ''"
        class="{{ grp.attrs ? grp.attrs['class'] : '' }} "
        [formatGroup]="grp"
        *ngIf="grp.name === 'LI' || grp.name === 'li'"
      ></li>
      <table
        format-group
        [attr.data-marker]="grp.attrs ? grp.attrs['data-marker'] : ''"
        class="{{ grp.attrs ? grp.attrs['class'] : '' }} "
        [formatGroup]="grp"
        *ngIf="grp.name === 'TABLE' || grp.name === 'table'"
      ></table>
      <thead
        format-group
        [attr.data-marker]="grp.attrs ? grp.attrs['data-marker'] : ''"
        class="{{ grp.attrs ? grp.attrs['class'] : '' }} "
        [formatGroup]="grp"
        *ngIf="grp.name === 'THEAD' || grp.name === 'thead'"
      ></thead>
      <tbody
        format-group
        [attr.data-marker]="grp.attrs ? grp.attrs['data-marker'] : ''"
        class="{{ grp.attrs ? grp.attrs['class'] : '' }} "
        [formatGroup]="grp"
        *ngIf="grp.name === 'TBODY' || grp.name === 'tbody'"
      ></tbody>
      <th
        format-group
        [attr.data-marker]="grp.attrs ? grp.attrs['data-marker'] : ''"
        class="{{ grp.attrs ? grp.attrs['class'] : '' }} "
        [formatGroup]="grp"
        *ngIf="grp.name === 'TH' || grp.name === 'th'"
      ></th>
      <tr
        format-group
        [attr.data-marker]="grp.attrs ? grp.attrs['data-marker'] : ''"
        class="{{ grp.attrs ? grp.attrs['class'] : '' }} "
        [formatGroup]="grp"
        *ngIf="grp.name === 'TR' || grp.name === 'tr'"
      ></tr>
      <td
        format-group
        [attr.data-marker]="grp.attrs ? grp.attrs['data-marker'] : ''"
        class="{{ grp.attrs ? grp.attrs['class'] : '' }} "
        [formatGroup]="grp"
        *ngIf="grp.name === 'TD' || grp.name === 'td'"
      ></td>
      <a
        format-group
        class="{{ grp.attrs ? grp.attrs['class'] : '' }}"
        [formatGroup]="grp"
        *ngIf="grp.name === 'A' || grp.name === 'a'"
      ></a>
      <dl
        format-group
        class="{{ grp.attrs ? grp.attrs['class'] : '' }}"
        [formatGroup]="grp"
        *ngIf="grp.name === 'DL' || grp.name === 'dl'"
      ></dl>
      <h1
        format-group
        class="{{ grp.attrs ? grp.attrs['class'] : '' }}"
        [formatGroup]="grp"
        *ngIf="grp.name === 'H1' || grp.name === 'h1'"
      ></h1>
      <h2
        format-group
        class="{{ grp.attrs ? grp.attrs['class'] : '' }}"
        [formatGroup]="grp"
        *ngIf="grp.name === 'H2' || grp.name === 'h2'"
      ></h2>
      <h3
        format-group
        class="{{ grp.attrs ? grp.attrs['class'] : '' }}"
        [formatGroup]="grp"
        *ngIf="grp.name === 'H3' || grp.name === 'h3'"
      ></h3>
      <h4
        format-group
        class="{{ grp.attrs ? grp.attrs['class'] : '' }}"
        [formatGroup]="grp"
        *ngIf="grp.name === 'H4' || grp.name === 'h4'"
      ></h4>
      <p
        format-group
        class="{{ grp.attrs ? grp.attrs['class'] : '' }}"
        [formatGroup]="grp"
        *ngIf="grp.name === 'p' || grp.name === 'p'"
      ></p>
      <em
        format-group
        class="{{ grp.attrs ? grp.attrs['class'] : '' }}"
        [formatGroup]="grp"
        *ngIf="grp.name === 'em' || grp.name === 'em'"
      ></em>
      <dd
        format-group
        class="{{ grp.attrs ? grp.attrs['class'] : '' }}"
        [formatGroup]="grp"
        *ngIf="grp.name === 'DD' || grp.name === 'dd'"
      ></dd>
      <figure
        format-group
        class="{{ grp.attrs ? grp.attrs['class'] : '' }}"
        [formatGroup]="grp"
        *ngIf="grp.name === 'FIGURE' || grp.name === 'figure'"
      ></figure>
      <div
        format-group
        class="{{ grp.attrs ? grp.attrs['class'] : '' }}"
        [formatGroup]="grp"
        *ngIf="grp.name === 'DIV' || grp.name === 'div'"
      ></div>
      <ol
        format-group
        class="{{ grp.attrs ? grp.attrs['class'] : '' }}"
        [formatGroup]="grp"
        *ngIf="grp.name === 'OL' || grp.name === 'ol'"
      ></ol>
      <span
        format-group
        class="{{ grp.attrs ? grp.attrs['class'] : '' }}"
        [formatGroup]="grp"
        *ngIf="grp.name === 'SPAN' || grp.name === 'span'"
      ></span>
    </ng-container>
    <ng-container *ngIf="!grp.name && grp.grps">
      <ng-container *ngFor="let grp2 of grp.grps">
        <f-text
          format-text
          [formatText]="grp2"
          class="{{ grp2.attrs ? grp2.attrs['class'] : '' }}"
        ></f-text>
      </ng-container>
    </ng-container>
  </ng-container>
</ng-container>
