app-verse-notes,
verse-notes,
.verse-notes {
  display: block;
  position: absolute;
  width: 300px;
  right: 0;
  top: 0px;
  overflow-y: scroll;
  height: 100vh;
  font-family: serif;
  verse-note,
  .verse-note {
    > * {
      margin-top: 0;
      margin-bottom: 0;
    }
    display: block;
    list-style: none;
    margin-left: 20px;
    line-height: 22.5px;
    font-size: 0.83em;
    note-phrase,
    .note-phrase {
      user-select: none;
      display: block;
      margin-bottom: 3px;
    }
    .short-title,
    short-title {
      display: inline-block;
      margin-right: 10px;
      font-weight: 700;
    }

    .note-reference,
    note-ref {
      display: block;
      margin-top: 0;
      margin-bottom: 0;
      a {
        color: #007fa4 !important;
        text-decoration: none;
        &:hover {
          color: #01b6d1 !important;
        }
      }
    }
    note,
    .note {
      margin-left: 20px;
      display: block;
      margin-right: 10px;
    }

    verse-note-group,
    .verse-note-group {
      display: block;
      &.highlight {
        padding-left: 5px;
        border-left: 2.5px solid #f68d2e;
      }
    }
  }
}
