<oith-header-item (click)="navOpen()"
  ><svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    viewBox="0 0 24 24"
  >
    <path
      fill="currentColor"
      d="M20.5 4H16c-1.9 0-3.2.4-4 1-.8-.6-2.1-1-4-1H3.5C2.7 4 2 4.7 2 5.5v12c0 .8.7 1.5 1.5 1.5H7c2.3 0 3 .4 3.5.6.4.2.8.4 1.5.4s1.2-.2 1.5-.4c.5-.2 1.2-.6 3.5-.6h3.5c.8 0 1.5-.7 1.5-1.5v-12c0-.8-.7-1.5-1.5-1.5zM7 17.5H3.5v-12H8c1.7 0 2.7.4 3.2.8v12c-.5-.3-1.4-.8-4.2-.8zm13.5 0H17c-2.8 0-3.7.5-4.3.8v-12c.6-.4 1.6-.8 3.3-.8h4.5v12z"
    ></path>
  </svg>
</oith-header-item>
<oith-header-item
  class="dropdown "
  (click)="this.noteSettingsDropDown()"
  id="noteSettings"
  [ngClass]="{ 'is-active': this.notesDropdown.visible }"
  ><svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    class="dropdown-trigger"
  >
    <path
      fill="currentColor"
      d="M20.5 4H16c-1.9 0-3.2.4-4 1-.8-.6-2.1-1-4-1H3.5C2.7 4 2 4.7 2 5.5v12c0 .8.7 1.5 1.5 1.5H7c2.3 0 3 .4 3.5.6.4.2.8.4 1.5.4s1.2-.2 1.5-.4c.5-.2 1.2-.6 3.5-.6h3.5c.8 0 1.5-.7 1.5-1.5v-12c0-.8-.7-1.5-1.5-1.5zM7 17.5H3.5v-12H8c1.7 0 2.7.4 3.2.8v12c-.5-.3-1.4-.8-4.2-.8zm13.5 0H17c-2.8 0-3.7.5-4.3.8v-12c.6-.4 1.6-.8 3.3-.8h4.5v12z"
    ></path>
  </svg>
  <div class="dropdown-menu" id="dropdown-menu" role="menu">
    <div class="dropdown-content">
      <a href="#" class="dropdown-item" (click)="noteSettingsClick($event)">
        Dropdown item
      </a>
      <a class="dropdown-item">
        Other dropdown item
      </a>
      <a href="#" class="dropdown-item is-hoverable">
        Active dropdown item
      </a>
      <a href="#" class="dropdown-item">
        Other dropdown item
      </a>
      <hr class="dropdown-divider" />
      <a href="#" class="dropdown-item">
        With a divider
      </a>
    </div>
  </div>
</oith-header-item>
<!-- <div>
  <div>

  </div>
</div> -->
