f-text {
  f-t {
    &.ref-double {
      border-bottom: 1px solid grey;
      text-decoration: underline;
      text-decoration-skip-ink: none;
      text-decoration-color: grey;
      &.highlight {
        text-decoration: underline;

        // text-decoration-skip-ink: none;
        // text-decoration-color: grey;
        border-bottom: 1px solid #f68d2e;
        text-decoration-color: #f68d2e;
        &.pronunciation {
          border-bottom: 1px solid #f68d2e !important;
          text-decoration-color: #f68d2e !important;
        }
      }
      &.all {
        // text-decoration-color: none;
        text-decoration: none;
        &.highlight {
          text-decoration-color: #f68d2e;
          text-decoration: underline;
          border-bottom: 1px solid #f68d2e;
          text-decoration-color: #f68d2e;
        }
      }
    }
    &.ref-single {
      border-bottom: 1px solid grey;
      &.highlight {
        border-bottom: 1px solid #f68d2e;
        &.pronunciation {
          border-bottom: 1px solid #f68d2e !important;
        }
      }
      &.all {
        border-bottom: unset;
        &.highlight {
          border-bottom: 1px solid #f68d2e;
          &.pronunciation {
            border-bottom: 1px solid #f68d2e !important;
          }
        }
      }
    }
  }
  .all.highlight {
    border-bottom: 1px solid #f68d2e;
  }
}
